{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<form action='/search4' method='post'>
	<div>
	<label for='name'>姓名：</label>
	<input name='name' type='text' id='name'>
	</div>
	<div>
	<label for='phone'>手机：</label>
	<input name='phone' type='text' id='phone'>
	</div>
	<div>
	<label for='address'>地址：</label>
	<input name='address' type='text' id='address'>
	</div>
	<input type='submit' value='Submit'>
</form>

{% endblock %}
