{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
 		<div class="box">
			<div class="header">
				<a href="#" class="header_address">3BHotel</a>
				<a href="#" class="header_form">
					<input ／>
				</a>
				<a href="#" class="header_message">
					<i class="fa fa-comment-o fa-lg"></i>
				</a>
			</div>
			<div class="banner">
				<div class="inner clearfix">
	               <div class="innerwraper"><img src="static/img/banner1.jpg" alt="" /></div>
	               <div class="innerwraper"><img src="static/img/banner2.jpg" alt="" /></div>
	               <div class="innerwraper"><img src="static/img/banner3.jpg" alt="" /></div>
	               <div class="innerwraper"><img src="static/img/banner4.jpg" alt="" /></div>
	               <div class="innerwraper"><img src="static/img/banner1.jpg" alt="" /></div>
	           </div>
	           <div class="pagination">
	               <span class="active"></span>
	               <span></span>
	               <span></span>
	               <span></span>
	           </div>
			</div>
			<div class="content">
				<div>
					<a href='/qh78'>
					<img src="./static/img/qh1.jpg"/>
					</a>
					<span>宁波清河店</span>
				</div>

				<div>
					<a href='/ss161'>
					<img src="./static/img/ss1.jpg"/>
					</a>
					<span>余姚胜山店</span>
				</div>
				<div>
					<a href='/sy688'>
					<img src="./static/img/sb1.jpg"/>
					</a>
					<span>萧山恒隆店</span>
				</div>
				<div>
					<a href='sb2085'>
					<img src="./static/img/xs1.jpg"/>
					</a>
					<span>慈溪花苑店</span>
				</div>
			</div>
			<div class="title">
				<span>积分兑换</span>
				<a href='more.html'><span>查看全部></span></a>
			</div>
			<div class="items" id='b'>
				<div class="item">
                    <a href='/phonecase'>
					<div class="item_left"></div>
					<div class="item_center">
						<p>苹果8/7手机壳</p>
						<p>品牌：国产</p>
						<p>型号:nk65</p>
						<p>上架时间:2018年3月16日</p>
					</div>
					<div class="item_right">
						<span>1400</span><em>积分</em>
					</div>
                    </a>
				</div>
				<div class="item">
                    <a href='/towel'>
					<div class="item_left"></div>
					<div class="item_center">
						<p>洁丽雅毛巾</p>
						<p>品牌：洁丽雅</p>
						<p>型号:jia2</p>
						<p>上架时间:2018年3月16日</p>
					</div>
					<div class="item_right">
						<span>1500</span><em>积分</em>
					</div>
                    </a>
				</div>
				<div class="item">
                    <a href='/barbecue'>
					<div class="item_left"></div>
					<div class="item_center">
						<p>烧烤架</p>
						<p>品牌：国产</p>
						<p>型号:i86</p>
						<p>上架时间:2018年03月16日</p>
					</div>
					<div class="item_right">
						<span>4650</span><em>积分</em>
					</div>
                    </a>
				</div>
				<div class="item">
                    <a href='/b'>
					<div class="item_left"></div>
					<div class="item_center">
						<p>B仔公仔 小款</p>
						<p>品牌：三碧酒店</p>
						<p>型号:2C</p>
						<p>上架时间:2018年03月16日</p>
					</div>
					<div class="item_right">
						<span>800</span><em>积分</em>
					</div>
                    </a>
				</div>
			</div>
		</div>
<!--
        <div class='layer' style='display:none'>
            <h3>请填写您的信息</h3>
            <div class='frominput'>
                <label>姓名</label>
                <input type='text' class='inp' name='username' id='username'>
            </div>
            <div class='frominput'>
                <label>手机</label>
                <input type='text' class='inp' name='phone' id='phone'>
            </div>
            <div class='frominput'>
                <label>地址</label>
                <input type='text' class='inp' name='address' id='address'>
            </div>
            <p></p>
            <p></p>
           <button>提交</button>
        </div>
-->
{% endblock %}
