{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<figure class='store'>
	<img src='static/img/store/qh78.jpg'>
	<figcaption >宁波清河店</figcaption>
</figure>
	<div class='storedesc'>
		<p>三碧酒店－宁波清河店位于江北区清河路78号，毗邻宁波标志性建筑—宁波大剧院和宁波最大的公园－日湖公园，地理位置优越，交通便捷，环境优美。</p>
		<p>酒店现拥有单人间、标准间、商务套房等各类型客房167间，设施设备齐全，为每一位宾客提供商务休闲的自由空间。一楼有自助餐厅，环境幽雅、精致时尚，为宾客提供各类中西美食。</p>
		<p>酒店还拥有大型生态停车场，可提供120余个停车位，场内还设有宁波公共自行车租赁点，是您自驾出游、商务会客出差的最佳选择</p>
		<p>地址：宁波市江北区清河路78号</p>
		<p>电话：0574-87386666</p>
		<br>
		<br>
		<br>
	<div>
{% endblock %}
