{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block title %}Flasky{% endblock %}

{% block page_content %}
<figure class='store'>
	<img src='static/img/store/sb2085.jpg'>
	<figcaption >慈溪花苑店</figcaption>
	<div class='storedesc'>
		<p>三碧酒店－慈溪花苑店位于慈溪城区三北大街，汽车东站西南侧，拥有近200个标准停车位，四周交通便捷，是一家集“客房、餐饮、娱乐”于一体的三星级标准旅游饭店。</p>
		<p>酒店拥有各式客房80间，设计独特，别具风格。酒店免费提供百兆宽带接入的液晶显示，电脑上网服务、私人保险箱、冰柜等客用服务设施一应俱备。酒店还拥有全新理念设计的豪华棋牌房27间，是休闲娱乐的不二之选。</p>
		<p>此外，酒店还拥有3000平方米的室外花园，与酒店的中西餐休闲区——外滩会馆相邻，是酒店一大特色，园内绿草如茵、恬淡安静，可聚会用餐、阅读小憩，尽享小资生活。</p>
		<p>地址：慈溪市三北大街2085号</p>
		<p>电话：0574-63921111</p>
		<br>
		<br>
		<br>
	<div>
</figure>
{% endblock %}
