{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block title %}Flasky{% endblock %}

{% block page_content %}
<figure class='store'>
	<img src='static/img/store/ss161.jpg'>
	<figcaption >余姚胜山店</figcaption>
	<div class='storedesc'>
		<p>三碧酒店－余姚胜山店地处余姚休闲娱乐特色街，是一家集商住、餐饮、会议、休闲娱乐于一体的现代化综合型酒店。</p>
		<p>酒店拥有163间不同房型的客房，包括各类豪华标准间、大床房等，所有客房均设有中央空调、液晶电视与免费无线网络、配有智能卫浴和私人保险箱。</p>
		<p>此外，酒店还设独立休闲区，更添舒适艺术情调的餐厅，阳光露天酒吧，咖啡吧，会议室，还有豪华棋牌室，设施齐全，汇聚都市高雅的生活格调，每个细节都透露出人性化、个性化，只为给宾客更优质的服务，让宾客在接待国内外商务伙伴、亲密友人时拥有融洽氛围和独特的体验。</p>
		<p>地址：余姚市胜山西路161号</p>
		<p>电话：0574-62718888</p>
		<br>
		<br>
		<br>
	<div>
</figure>
{% endblock %}
