{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block title %}Flasky{% endblock %}

{% block page_content %}
<figure class='store'>
	<img src='static/img/store/sy688.jpg'>
	<figcaption >萧山恒隆店</figcaption>
	<div class='storedesc'>
		<p>三碧酒店-萧山恒隆店位于杭州市萧山区工人路890号恒隆广场C座，购物中心近在咫尺，毗邻萧山区人民政府，距离杭州西湖仅25分钟车程，离杭州萧山国际机场约20分钟车程，酒店地理位置优越，交通便捷，是每一位宾客休闲购物、旅游、商务出行的理想住所。</p>
		<p>酒店现拥有温馨、时尚的大床房、标准房、影音套房、休闲套房及复式休闲套房等各式客房206间，设计简约时尚，且全部设有国际国内直拨电话，数字点播电视，恒温中央热水系统等，还配备了可免费上网的液晶电脑、冰箱等设施设备。除了舒适的客房外，酒店六楼设有精致时尚的餐厅，为宾客提供营养丰盛的早餐及各类中西美食。</p>
		<p>地址：杭州市萧山区工人路890号</p>
		<p>电话：0571-83860000</p>
		<br>
		<br>
		<br>
	<div>
</figure>
{% endblock %}
